*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.light{
    color: rgb(21, 21, 21);
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}
.dark{
    background: linear-gradient(to right, #232526, #414345);
    color: rgb(251, 251, 251);
}

.dark .header{
    background-color: rgba(0, 0, 0, 0.356);
}

.light .header{
    background-color: rgba(255, 255, 255, 0.675);
}

header{
    display: flex;
    align-items: center;
    height: 100px;
}

.logo-link{
    text-decoration: none;
    color: inherit;
}

.btn{
    border: 1.5px solid;
    color: inherit;
    width: 100px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

.btn:hover,
.btn:active,
.btn:focus{
    border: 1.5px solid;
}
.btn:active{
    background: rgba(0, 0, 0, 0.123) !important;
}

/* dark */
.dark .search,
.dark .select,
.dark .js-card,
.dark .js-more-btn{
    background-color: rgba(0, 0, 0, 0.356);
    color: inherit;
}

/* light */
.light .search,
.light .select,
.light .js-card{
    background-color: rgba(255, 255, 255, 0.675);
    color: inherit;
}

.dark .search::placeholder{
    color: inherit;
}

.dark .js-more-btn{
    color: aqua;
}
.light .js-more-btn{
    color: rgb(0, 0, 0);
}

.js-card{
    width: 300px !important;
    /* height: 350px !important; */
    border-radius: 5px;
    padding: 0 !important;
}

.flag-img{
    width: 300px;
    height: 180px;
    border-radius: 5px 5px 0 0;
    box-sizing: content-box;
    /* object-fit: cover; */
    object-fit: cover;
    
}

.list{
    list-style-type: none;
}


/* loading */
svg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 444;
    width: 100px;
}

rect{
    animation: svgAnime 15s linear infinite;
}


@keyframes svgAnime {
    0%{
      fill:  rgb(119, 255, 0);
    }

    15%{
       fill:  rgb(0, 255, 234);
    }
    25%{
       fill:  rgb(0, 157, 255);
    }
    35%{
       fill:  rgb(212, 0, 255);
    }
    45%{
    
       fill:  rgb(255, 0, 0);
    }
    55%{
       fill:  rgb(255, 234, 0);
    }
    65%{
       fill:  rgb(0, 255, 30);
    }
    75%{
       fill:  rgb(0, 255, 162);

    }
    85%{
       fill:  rgb(0, 174, 255);
    }
    94%{
       fill: rgb(255, 0, 204);
    }
    100%{
       fill:  rgb(119, 255, 0);
    }
}

/* modal */
.modal-wrapper{
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.468);
}

.dark .countries-modal{
    color: #fff;
    background-color: #323235;
}
.light .countries-modal{
    color: #000;
    background-color: #ececec;
}

.countries-modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 680px;
    height: 350px;
    border-radius: 8px;
}

.modal-right{
    padding-top: 50px !important;
}

.modal-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 0 8px 0;
    border: none;
    background-color: rgb(226, 79, 79);
    color: #fff;
    transition: all .3s ease;
}
.modal-btn:hover{
    background-color: rgba(226, 79, 79, 0.803);  
}

.btn-map{
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    background-color: #5f9ea0;
    color: #fff;
    border: none;
    box-shadow: 0 0 5px #5f9ea0;
    transition: all .3s ease;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
}
.btn-map:hover{
    opacity: 0.8;
}

.modal-img{
    width: 300px;
    height: 180px;
}


@media only screen and (max-width: 768px) {
    .js-card{
        padding: 20px 0 !important;
        width: 100%!important;
    }
    .flag-img{
        width: 95%;
        display: block;
        margin: 0 auto;
        height: 50%;
        object-fit: contain; 
    } 
    .item-title{
       text-align: center;
    }
    .list-item{
        padding-left: 50px !important;
    }
    .js-more-btn{
        width: 200px;
        margin-bottom: 20px !important;
        margin-left: 55px !important;
    }

    .form{
        flex-direction: column !important;
    }
    .search, .select{
        width: 100% !important;
        margin-bottom: 15px !important;
    }
    .select {
        margin-bottom: 0 !important;
    }
}
@media only screen and (max-width: 688px){
    .countries-modal{
        width: 100%;
        height: 100vh !important;
        display:  block !important;
        padding: 40px 20px !important;
    }
    .modal-btn{
        width: 80px;
        border-radius:  8px ;
        top: 10px;
        right: 10px;
        box-shadow: 0 0 3px #be5555;
    }
    .modal-left,
    .modal-right{
        width: 100% !important;
    }
    .modal-img{
        display: block;
        /* margin: 0 auto; */
        width: 100%;
        height: 27%;
    }
    .modal-right{
        padding: 40px 5px !important;
    }
    .btn-map{
        top: 80vh !important;
        right: 15px;
    }
}
@media only screen and (max-width: 375px) {
    .js-card{
        padding: 40px 0 !important;
        width: 100%!important;
    }
    .flag-img{
        height: 45%;
    } 
    .item-title{
       text-align: start;
       padding-left: 20px !important;
    }
    .list-item{
        padding-left: 15px !important;
    }
    .js-more-btn{
        width: 90%;
        display: block;
        margin: 0 auto !important;
    }

    .form{
        flex-direction: column !important;
    }
    .search, .select{
        width: 100% !important;
        margin-bottom: 15px !important;
        padding: 10px;
    }
    .select {
        margin-bottom: 0 !important;
    }
    .nav-item{
        flex-direction: column;
    }
    .logo{
        width: 100% !important;
        text-align: center !important;
    }
    .dark-mode{
        width: 40% !important;
       margin: 10px auto;
    }


    .modal-img{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 47% !important;
    }
    .modal-right{
        padding: 40px 5px !important;
    }
    .modal-right .fs-6{
        font-size: 15px !important;
        width: 100%;
        height: 50px !important;
        margin: 0 !important;
    }
}
